// FONT
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300&display=swap");

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
section {
  width: 100%;
  height: 100vh;
}
#nav_icon {
  width: 40px;
  height: 35px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
  div {
    position: relative;
    width: 100%;
    height: 100%;
    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background: #33484d;
      transition: all 0.3s ease-in-out;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: 10px;
    }
    span:nth-child(3) {
      top: 20px;
    }
  }
}
.nav_active {
  span:nth-child(1) {
    top: 0px;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg);
  }
}

//section_1
#section_1 {
  width: 100%;
  height: 100vh;
  background: url(./img/portmain_sky.jpg);
  background-size: cover;
  .bird_1 {
    position: fixed;
    animation: bird1 2s ease-in-out;
    transition: all 2s;
    top: 130px;
    left: 250px;
  }
  @keyframes bird1 {
    from {
      top: 130px;
      left: -100px;
    }
    to {
      top: 130px;
      left: 250px;
    }
  }
  .bird_2 {
    position: absolute;
    top: 175px;
    right: 150px;
    animation: bird2 4s ease-in-out;
    transition: all 2s;
  }
  @keyframes bird2 {
    from {
      top: 175px;
      right: -300px;
    }
    to {
      top: 175px;
      right: 150px;
    }
  }

  .title {
    transform: translate(0, 20%);
    text-align: center;
    line-height: 70px;
    letter-spacing: 10px;
    font-family: "Lexend Exa", sans-serif;
    h1 {
      font-size: 5.5em;
      line-height: 80px;
      color: #fff;
      text-shadow: -2px 0 #528193, 0 2px #528193, 2px 0 #528193, 0 -2px #528193;
    }
    h3 {
      margin-top: 20%;
      font-size: 2em;
      color: #a2a2a2;
    }
  }
}
#section_2 {
  background: url(./img/only_sky.jpg);
  background-size: cover;
  font-family: "Pretendard-Regular";

  img {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ocloud_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2 {
      color: #004875;
      font-size: 4em;
    }
    p {
      margin-top: 10%;
      font-size: 1.5em;
    }
  }
}
