// font
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
section {
  width: 100%;
  height: 100vh;
}
//section_1
#section_1 {
  width: 100%;
  height: 100vh;
  background: url(./img/portmain_sky.jpg);
  background-size: cover;
  .bird_1 {
    position: absolute;
    animation: bird1 2s ease-in-out;
    transition: all 2s;
    top: 130px;
    left: 250px;
  }
  @keyframes bird1 {
    from {
      top: 130px;
      left: -100px;
    }
    to {
      top: 130px;
      left: 250px;
    }
  }
  .bird_2 {
    position: absolute;
    top: 175px;
    right: 150px;
    animation: bird2 4s ease-in-out;
    transition: all 2s;
  }
  @keyframes bird2 {
    from {
      top: 175px;
      right: -300px;
    }
    to {
      top: 175px;
      right: 150px;
    }
  }

  .title {
    transform: translate(0, 60%);
    text-align: center;
    line-height: 70px;
    letter-spacing: 10px;
    font-family: "Lexend Exa", sans-serif;
    h1 {
      font-size: 5em;
      line-height: 70px;
      color: #fff;
      text-shadow: -2px 0 #528193, 0 2px #528193, 2px 0 #528193, 0 -2px #528193;
    }
    h3 {
      margin-top: 300px;
      font-size: 2em;
      color: #a2a2a2;
    }
  }
}
#section_2 {
  width: 100%;
  height: 100vh;
  background: url(./img/portmain_sky.jpg);
  background-size: cover;
}
