// font
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//section_1
#section_1 {
  width: 100%;
  height: 100vh;
  background: url(./img/portmain_sky.jpg);
  background-size: cover;
  .birds {
    position: absolute;
    left: 120px;
    top: 130px;
    transition: all 2s;
    animation: birdsfly 2s ease-in-out;
    @keyframes birdsfly {
      from {
        top: 130px;
        left: -100px;
      }
      to {
        top: 130px;
        left: 120px;
      }
    }
  }
  .title {
    border: 1px solid #000;
    transform: translate(0, 70%);
    text-align: center;
    line-height: 50px;
    font-family: "Lexend Exa", sans-serif;
    h1 {
      font-size: 4em;
      color: #fff;
      text-shadow: -2px 0 #528193, 0 2px #528193, 2px 0 #528193, 0 -2px #528193;
    }
    h3 {
      margin-top: 380px;
      font-size: 2em;
      color: #a2a2a2;
    }
  }
}
