* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* x축스크롤 안줄게 */
  overflow-x: hidden;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1100;
}
/* fixed가상클래스 먹으면 fixed로 바뀔것 */
header.fixed {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
}
header.fixed .progressWrap {
  position: block;
}
header.fixed .headerWrap h1 {
  color: #000;
}
.headerWrap {
  position: relative;
  padding: 10px 20px;
}
.headerWrap h1 {
  color: #fff;
  font-size: 15px;
}
.progressWrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d0d0d0;
  display: block;
}
.bar {
  width: 0%;
  height: inherit;
  z-index: 100;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease-out;
}
.coverWrap {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 800px; */
  /* 앞에 검정 배경 깔린다 이미지 없어질때 검정색 */
  background: #000 url(/sea/img/bg.jpg) center center/cover no-repeat;
}
.dimd {
  position: absolute;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.4);
}
.coverTitle {
  position: relative;
  text-align: center;
  z-index: 100;
}
.coverTitle h1 {
  color: #fff;
  line-height: 18px;
}
.coverTitle p {
  color: #cecece;
}
.contWrap {
  position: relative;
  z-index: 1000;
  background: #fff;
}
.contentInnerWrap {
  margin: 0 auto;
  /* max최대wid안에서만 작동해라 */
  max-width: 600px;
  padding: 30px;
}
h4 {
  font-size: 20px;
}
